body {
    background-color: gray;
}

#menu-left-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

#menu-left-bar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#menu-left-bar li a.active {
    background-color: #65afa5;
    color: white;
}

#menu-left-bar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


#top-bar{
    text-align: center;
    margin-bottom: 10px;
    max-height: 20%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    width: 100%;
    height: 38px;
}

#top-logo{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background: #555555;
}


